PORT=5000

# gemini api key
GEMINI_API_KEY=srzpgiouzerugzugirtbvyzbeunyuetsdzthttvscrveqyqozehtuzettnzrvyzer

# flask
SECRET_KEY=zeuyfgefygziyuikpnfefpzaoerefigzefgzef
DEBUG_MODE=1

# cors origin
CORS_ORIGIN=http://localhost:3000

# third-party service
CRUD_SERVICE_BASE_URL=http://localhost:3000